<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Login to NAI test data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row >
      <ion-item class="item_size">
        <ion-label position="floating">email</ion-label>
        <ion-input  type="email" [(ngModel)]="usuario"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="item_size">
        <ion-label position="floating">password</ion-label>
        <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="login()">Login</ion-button>
         </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row>&nbsp;  </ion-row>
  <ion-row>
    <h4>&nbsp;Don't have an account?</h4>
</ion-row>
<ion-row>
  <h4>&nbsp;To get access please e-mail to:</h4>
</ion-row>
<ion-text color="primary">
<ion-row >
  <h4>&nbsp;support@nai-group.com</h4>
  </ion-row>
</ion-text>

</ion-content>
