<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Welcome to NAI test data</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <ion-grid>
    <ion-row>

    </ion-row>
    <ion-row>&nbsp;  </ion-row>
    <ion-row>&nbsp;  </ion-row>
    <ion-row>&nbsp;  </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="login()">Start</ion-button>
         </ion-col>
    </ion-row>

  </ion-grid>
  <ion-row>&nbsp;  </ion-row>
  <ion-row>&nbsp;  </ion-row>
  <ion-row>&nbsp;  </ion-row>
  <ion-row>&nbsp;  </ion-row>
  <ion-row>
    <h4>&nbsp;For support please e-mail to</h4>
</ion-row>

<ion-text color="primary">
<ion-row >
  <h4>&nbsp; <a href="mailto:support@nai-group.com" target="_blank">support@nai-group.com</a></h4>
  </ion-row>
</ion-text>

</ion-content>
