<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Test values</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToLanding()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light" *ngFor="let naiassembly of naiassembly">
    <ion-col>
  <ion-row ><b>PART #</b>&nbsp;    {{ naiassembly.partnumber }}</ion-row>
  <ion-row><b>SERIALNUMBER: </b>&nbsp; {{ naiassembly.serialnumber }}</ion-row>
    <ion-row><b>CABLE# </b>&nbsp; {{ naiassembly.partnumber }}</ion-row>
    <ion-row><b>FIBER TYPE:</b>&nbsp;  {{naiassembly.fibertype}}</ion-row>
    <ion-row><b>WAVELENGTH: </b>&nbsp; {{ naiassembly.wavelength }}</ion-row>
    <ion-row><b>CONNECTOR TYPE: </b>&nbsp; {{ naiassembly.connector }}</ion-row>
    <ion-row><b>LOSS LIMIT: </b>&nbsp; ≤ {{ naiassembly.il_limit }} dB, <b>RL</b> > {{ naiassembly.rl_limit }} dB</ion-row>
    <ion-row><b>TESTS CONDUCTED BY: </b>&nbsp; {{ naiassembly.creatorid }}</ion-row>
    <ion-row><b>TEST DATE: </b>&nbsp; {{ naiassembly.creationdate }}</ion-row>
    <ion-row><b>TESTER: </b>&nbsp; {{ naiassembly.testerid }} </ion-row>
  </ion-col>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true" >

<h1 *ngIf="not_exists">Serial number not found!</h1>


  <ion-grid>

    <ion-col>
      <ion-row *ngFor="let retresult of retresults">
        <ion-list>
          <ion-item>

         <ion-label>
          <ion-row><ion-col>
          <h2><b>FIBER #</b> {{ retresult.conn }}</h2>
        </ion-col><ion-col></ion-col>
        </ion-row>

        <ion-row>
        <ion-col>
          <h2><b>IL1310</b> {{ retresult.il1310 }} dB</h2>
        </ion-col>
        <ion-col>
          <h2><b>IL1550</b> {{ retresult.il1550 }} dB</h2>
        </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
          <h2><b>RLIN 1310</b> {{ retresult.rl1310in }} dB</h2>
        </ion-col>
        <ion-col>
          <h2><b>RLIN 1550</b> {{ retresult.rl1550in }} dB</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h2><b>RLOUT 1310</b> {{ retresult.rl1310out }} dB</h2>
        </ion-col>
        <ion-col>
          <h2><b>RLOUT 1550</b> {{ retresult.rl1550out }} dB</h2>
        </ion-col>
      </ion-row>


          </ion-label>
        </ion-item>
        </ion-list>
          </ion-row>

        </ion-col>
</ion-grid>
</ion-content>
