<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Test values</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToLanding()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="light" *ngFor="let naiassembly of naiassembly">
  <ion-row padding="10px">
    <b>PART# </b>    {{ naiassembly.partnumber }}<br>
  </ion-row>
  <ion-row><b>SERIALNUMBER: </b> {{ naiassembly.serialnumber }} </ion-row>
    <ion-row><b>CABLE# </b> {{ naiassembly.partnumber }}</ion-row>
    <ion-row><b>FIBER TYPE:</b>  {{naiassembly.fibertype}}</ion-row>
    <ion-row><b>WAVELENGTH: </b> {{ naiassembly.wavelength }}</ion-row>
    <ion-row><b>CONNECTOR TYPE: </b> {{ naiassembly.connector }}</ion-row>
    <ion-row><b>LOSS LIMIT: </b> ≤ {{ naiassembly.il_limit }} dB, <b>RL</b> > {{ naiassembly.rl_limit }} dB</ion-row>
    <ion-row>
      <b>TESTS CONDUCTED BY: </b> {{ naiassembly.creatorid }}
    </ion-row>
    <ion-row>
      <b>TEST DATE: </b> {{ naiassembly.creationdate }}
    </ion-row>
    <ion-row>
      <b>TESTER: </b> {{ naiassembly.testerid }}
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true" >

<h1 *ngIf="not_exists">Serial number not found!</h1>


  <ion-grid>

    <ion-col>
      <ion-row *ngFor="let retresult of retresults">
        <ion-list>
          <ion-item>
            <ion-avatar slot="end">
              <img src="https://www.waterworldcolorado.com/content/uploads/tick-2.png" />
            </ion-avatar>
         <ion-label>
          <h2><b>FIBER #</b> {{ retresult.conn }}</h2>
          <h2><b>IL1310</b> {{ retresult.il1310 }} dB</h2>
          <h2><b>IL1550</b> {{ retresult.il1550 }} dB</h2>
          <h2><b>RLIN, 1310</b> {{ retresult.rl1310in }} dB</h2>
          <h2><b>RLOUT, 1310</b> {{ retresult.rl1310out }} dB</h2>
          <h2><b>RLIN, 1550</b> {{ retresult.rl1550in }} dB</h2>
          <h2><b>RLOUT, 1550</b> {{ retresult.rl1550out }} dB</h2>
          <h2><b>P/F</b> PASS</h2>
          </ion-label>
        </ion-item>
        </ion-list>
          </ion-row>

        </ion-col>
</ion-grid>
</ion-content>
